{% extends 'base.html' %}
{% load svg i18n static %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block extrastyle %}
<style>
  #spinner {
    width: 1rem;
    height: 1rem;
    margin-left: -1.25rem;
  }
  #remember-me-section {
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block content %}
<p class="doc">
  {% blocktrans %}You may authenticate to this service by using one of the following login methods.{% endblocktrans %}
</p>
<div id="remember-me-section">
  <form id="remember-me-form">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="remember-me-checkbox">
      <label class="form-check-label" for="remember-me-checkbox">{% trans "Remember me on this device" %}</label>
      <small class="form-text text-muted" for="remember-me-checkbox">{% blocktrans %}If you are on a shared computer, you should not check this box.{% endblocktrans %}</small>
    </div>
    {% csrf_token %}
  </form>
</div>

<div class="login-method-list">
  {% for method in login_methods %}
  <div class="login-method login-method-{{ method.provider_id }}
              {% if method.order == 0 %}login-method__primary{% endif %}">
      {% if not method.logo_url %}
      <a href="{{ method.login_url }}"
         class="btn btn-block btn-social btn-{{ method.provider_id }}">
          <span class="icon icon-{{ method.provider_id }}" aria-hidden="true">
            {% svg method.provider_id %}
          </span>
          <span class="method-name">
            {{ method.name }}
          </span>
      </a>
      {% else %}
      <a href="{{ method.login_url }}"
         class="btn btn-block btn-social btn-primary"
         style="background-color: {{ method.background_color }};
                border-color: {{ method.background_color }}">
          <span class="ext-icon">
              <img src="{{ method.logo_url }}" />
          </span>
          <span class="method-name">
            {{ method.name }}
          </span>
      </a>
      {% endif %}
      {% if method.short_description %}
      <div class="short-description">
      {{ method.short_description|safe }}
      </div>
      {% endif %}
  </div>
  {% endfor %}
</div>

<div class="dialog-footer">
  {% if return_to_rp_uri %}
    <a href="{{ return_to_rp_uri }}"><span aria-hidden="true">⟵ </span>{% trans "Return to the originating service" %}</a>
  {% endif %}
</div>
{% endblock %}

{% block extrascript %}
<script>
  var csrftoken = $("#remember-me-form [name=csrfmiddlewaretoken]").val();
  var spinner = $('<div id="spinner" class="spinner-border" role="status"></div>') ;

  $('#remember-me-checkbox').click(function(ev) {
    var el = ev.currentTarget;
    var previousState = !el.checked;
    var timeout = setTimeout(function() {
      $(el).after(spinner);
      $(el).hide();
    }, 50);

    function removeSpinner() {
      clearTimeout(timeout);
      $(el).show();
      $(spinner).remove();
    }

    $.ajax({
      url: "{% url 'set_remember_me' %}",
      type: 'POST',
      headers: {
        'X-CSRFToken': csrftoken,
      },
      data: {
        "remember_me": el.checked,
      },
      success: function(data, status, xhr) {
        removeSpinner();
      },
      error: function(data, status, xhr) {
        removeSpinner();
        $(el).prop('checked', previousState);
      }
    });
  });
</script>
{% endblock %}
