@import "../../bootstrap-pre";

// Import city specific bootstrap variable overrides:
@import "~open-city-design/src/scss/helsinki/variables";

$brand-light:  $hel-fog;
$brand-dark:   $hel-bus;

$logo-url:     "/static/open-city-design/src/assets/helsinki-logo-black.svg";

@import "../../bootstrap-post";

// Import city specific style overrides.
@import "~open-city-design/src/scss/helsinki/mixins";
@import "~open-city-design/src/scss/helsinki/custom-styles";

@import "../../common";
