django
django-multiselectfield
django-oauth-toolkit
django-parler
django-cors-headers
django-oidc-provider>=0.7
djangorestframework
pyjwt
django-helusers
django-allauth
django-bootstrap3
psycopg2
psycopg2-binary
raven
PyJWT
cryptography
django-npm
django-compressor
django-inline-svg
social-auth-core[openidconnect,saml]
social-auth-app-django
requests
jwcrypto
Pillow
django-crequest
django-ipware
geoip2
django-filter
coreapi
python3-saml
ruamel.yaml
git+git://github.com/City-of-Helsinki/django-translation-checker.git@master
