{% load static sass_tags %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}{% block title %}{% endblock %} |
        Helsingin kaupunki{% endblock %}
    </title>
    <link href="{% static tunnistamo_style_file %}" rel="stylesheet" type="text/css" />
</head>

<body class="bg-brand-light">
  <div class="container content-container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 mt-5">
        <div class="card content-card">
          <header class="card-title">
            <img src="{% static "open-city-design/src/assets/helsinki-logo-black.svg" %}" class="logo">
            <h1 class="service-title">Tunnistamo</h1>
          </header>
          {% block body_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>
