@mixin suomifi-logo($_color) {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2055%2055%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($_color), 2)}%22%20d%3D%22M14%2C20v-5c0-1.1%2C0.9-2%2C2-2h5v7%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($_color), 2)}%22%20d%3D%22M14%2C27h7v14c0%2C0.5-0.4%2C1-1%2C1h-5c-0.6%2C0-1-0.5-1-1%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($_color), 2)}%22%20d%3D%22M28%2C13h13c0.5%2C0%2C1%2C0.4%2C1%2C1v6H28%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($_color), 2)}%22%20d%3D%22M41%2C34H28v-7h14v6C42%2C33.6%2C41.6%2C34%2C41%2C34z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

/*
.btn-suomifi {
  @include btn-social(#003479);
}

.fa-suomifi {
  @include suomifi-logo($white);
  background-position: center;
  background-size: 85%;
}
*/

.theme-logo {
  background-image: url($logo-url);
  background-repeat: no-repeat;
  width: 120px;
}

.bg-brand-light {
  background-color: $brand-light;
}

.content-container {
  margin-top: 1.5emm;
}

.content-card {
  padding: 1.5em;
  background-color: $white;
  box-shadow: 3px 3px 3px rgba($black, 0.5);
  @extend .clearfix;

  h2 {
    margin-bottom: 1em;
  }

  header {
    @extend .clearfix;

    .service-title {
      margin-top: 0;
      font-size: $h4-font-size;
    }

    .logo {
      height: 3.5em;
      margin: -0.5em -0.5em 0 0;
      float: right;
    }
  }
}

.login-method {
  margin-bottom: 1em;

  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-height: 24px;
    max-width: 24px;
  }
}

.dialog-footer {
  padding-top: 2rem;
  border-top: 1px solid $body-color;
  font-size: 0.8rem;
  a {
  }
}

.login-method__primary {
  border-bottom: 1px solid $body-color;
  border-top: 1px solid $body-color;
  padding-top: 1em;
}

.login-method {
  .btn {
    background-color: $gray-500;
    color: #fff;
    text-align: left;
    font-weight: 600;

    &-facebook {
      background-color: #4172B8;

      &:hover {
        background-color: darken(#4172B8, 7%);
      }
    }
    &-google {
      background-color: #4285F4;
      &:hover {
        background-color: darken(#4285F4, 7%);
      }
    }
    &-github {
      background-color: #181717;
      &:hover {
        background-color: lighten(#181717, 7%);
      }
    }
    &-tumblr {
      background-color: #36465D;
      &:hover {
        background-color: darken(#36465D, 7%);
      }
    }
    &-yletunnus {
      background-color: #00b5c8;
      &:hover {
        background-color: darken(#00b4c8, 7%);
      }
    }
    &-helsinki, &-helsinki_adfs {
      background-color: #0000bf;
      &:hover {
        background-color: darken(#0000bf, 7%);
      }
    }
    &-espoo, &-espoo_adfs {
      background-color: #00A0E2;
      &:hover {
        background-color: darken(#00A0E2, 7%);
      }
    }
    &-turku, &-turku_adfs {
      background-color: #006bb6;
      &:hover {
        background-color: darken(#006bb6, 7%);
      }
    }
    &-axiell_aurora {
      background-color: darken(#00c8f2, 30%);
      &:hover {
        background-color: darken(#00c8f2, 37%);
      }
    }
    &-turku_suomifi {
      background-color: #003479;
      &:hover {
        background-color: darken(#003479, 7%);
      }
    }
  }

  .icon, .ext-icon {
    display: inline-block;
    border-right: 2px solid #fff;
    padding-right: .75rem;
    margin-right: .5rem;
    vertical-align: middle;

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      fill: #fff;
    }
    
    img {
      height: 1.5rem;
      max-width: 1.5rem;
    }
  }
  
  .method-name {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
  
}
